doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.school-title Cool High School

      div.nav-content
        ul
          if user
            li
              a(href = "/courses") Courses
            if user.can('view students')
              li
                a(href = "/students") Students
            if user.can('view self')
              li
                a(href = `/students/profile/${user.student.id}`) Profile
            li
              a(href = "/logout") Logout
            li
              p Hello #{user.displayName}
          else
            li
              a(href = "/courses") Courses
            li
              a(href = "/students") Students
            li
              a(href = "/login") Login

      div
    div.container
      div.content-container
        block content