extends ../layout

block content
    div.form-container
        h3 Login
        form(action = '/login' method = 'post')
            div.form-input
                label(for = 'email') Email:
                input(id = 'email' name = 'email')
            div.form-input
                label(for = 'password') Password:
                input(id = 'password' name = 'password' type = 'password')
            div.form-buttons
                button.buttons.primary(type = 'submit') Login